body {
    background-color: rgb(255, 220, 220);
    background-image: url('background.png');
    background-repeat: repeat-x;
}

.heading {
    width:100%;
    font-size: 25px;
    margin: 0px;
    box-shadow: 10px 15px 20px darkred;
}

.note {
    color: whitesmoke;
    font-size: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 175, 175);
    color: black;
    font-size: 15px;
    line-height: 2;
}

canvas {
    border: 3px solid rgb(220, 20, 20);
    border-radius: 10px;
    box-shadow: 5px 10px 15px darkred;
}